In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
    {"x": np.arange(10)}, index=pd.date_range(start="2025-01-01T00:00:00", periods=10, freq="2min")
)

df

                     x
2025-01-01 00:00:00  0
2025-01-01 00:02:00  1
2025-01-01 00:04:00  2
2025-01-01 00:06:00  3
2025-01-01 00:08:00  4
2025-01-01 00:10:00  5
2025-01-01 00:12:00  6
2025-01-01 00:14:00  7
2025-01-01 00:16:00  8
2025-01-01 00:18:00  9

In [3]:
display(df.resample(pd.Timedelta("10min")).sum())

                      x
2025-01-01 00:00:00  10
2025-01-01 00:10:00  35

In [4]:
display(df.resample(pd.Timedelta("5min")).sum())

                      x
2025-01-01 00:00:00   3
2025-01-01 00:05:00   7
2025-01-01 00:10:00  18
2025-01-01 00:15:00  17